.kanban-skeletal-wrapper {
  width: 260px;
  height: 100%;
  background-color: #26292f;
  border-radius: 5px;
  margin-right: 5px;
  animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
  0% {
    background-color: #26292f;
  }

  100% {
    background-color: #2e323a; /* Change to your desired color */
  }
}

.kanban-skeletal-top-wrapper {
  flex: 1;
  height: 460px;
}
