.add-people-main-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 500;

  justify-content: center;
}

@media (max-width: 460px) {
  .add-people-wrapper {
    margin-top: 0px !important;
    width: 100% !important;
    height: 100% !important;
  }
}

.add-people-wrapper {
  margin-top: 10%;
  width: 400px;
  height: 300px;
  background-color: #282e33;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1.5px solid #374048;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;

  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}
.add-members-title {
  font-size: 20px;
  color: #b1bdca;

  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.add-members-email-title {
  color: #8e9ba8;
  font-size: 13px;
  font-weight: 600;
  margin-top: 30px;
}
.add-members-email-items {
  background-color: #0a70ff;
  color: #ebebeb;
  padding: 5px;
  border-radius: 2px;
  font-size: 13px;
  width: fit-content;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-people-email-list-wrapper {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  border: 1.5px solid #374048;
  padding: 1px;
  border-radius: 3px;
  padding-bottom: 2px;
  background-color: #22272b;
}

.add-people-email-list-wrapper:focus-within {
  border: 1.5px solid #3c8eff;
}

.add-people-text-area {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  color: rgb(199, 199, 199);
  padding: 5px;
  background-color: #22272b;
}

.add-members-invite-button {
  background-color: #0a70ff;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;
  font-size: 13px;
  border-radius: 3px;
}
.add-members-invite-button:hover {
  cursor: pointer;
  background-color: #4884d8;
}
.add-members-cancel-button {
  color: rgb(216, 216, 216);
  width: fit-content;
  padding: 5px;
  font-size: 13px;
  border-radius: 3px;
  margin-left: 10px;
}
.add-members-cancel-button:hover {
  cursor: pointer;
  background-color: rgb(42, 55, 66);
}

.add-members-lower-wrapper {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
}
