.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 31, 43, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #282e33;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  position: relative;
  width: 500px;
  border: 1px solid rgb(86, 94, 123);
  box-shadow: 0px 3px 10px #000000;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.create-project-input-field {
  background-color: #22272b;
  border: 1.5px solid rgb(53, 57, 63);
  height: 35px;
  width: 100%;
  padding: 3px;
  padding-left: 10px;
  color: #e3e3e3;
  border-radius: 3px;
}

.create-project-input-field:focus {
  border: 1.5px solid #85b8ff;
  outline: none;
}

.create-project-title {
  color: #aab8c2;
  font-size: 22px;
  font-weight: 400;
}
.create-project-upper-title {
  color: #aab8c2;
  font-size: 13px;
  margin-top: 5px;
  font-weight: 400;
}

.create-project-name {
  color: #aab8c2;
  font-size: 14px;
  margin-top: 10px;
}
.create-project-name-star {
  color: rgb(255, 60, 0);
  font-size: 18px;
}
.create-project-lower-text {
  color: #aab8c2;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 400;
}
.bold-text {
  color: #d1cdc7;
  font-weight: 700;
}

.create-project-create-button {
  background-color: #1174ff;
  border-radius: 2px;
  padding: 6px;
  font-size: 14px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-project-create-button:hover {
  cursor: pointer;
  background-color: rgb(80, 159, 248);
}
.create-project-cancel-button {
  border-radius: 2px;
  color: #d1d1d1;
  border-radius: 2px;
  padding: 4px;
  font-size: 14px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.create-project-cancel-button:hover {
  cursor: pointer;
  background-color: rgb(61, 77, 91);
}
.create-project-bottom-wrapper {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
}

.create-project-upper-title {
  margin-top: 20px;
}
