/* Styles for the modal container */
.modal-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-y: auto;
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

/* @media (max-width: 700px) {
  .modal-content-1 {
    width: 100% !important;
    height: 100% !important;
  }
} */

.bg-color-22272b {
  background-color: #22272b !important;
}

/* Styles for the modal content */
.modal-content-1 {
  background-color: #282e33;
  width: 800px !important;
  margin-top: 200px;
  margin-bottom: 50px;
  outline: 1px solid rgb(87, 87, 87);
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  animation: createTaskAnimation 0.5s ease;
}

@keyframes createTaskAnimation {
  from {
    margin-top: 150px;
  }
  to {
    margin-top: 200px;
  }
}

/* Styles for the close button */
.close-button-1 {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-task-description-area {
  height: 100px;
  width: 100%;
  border-style: none;
}
.create-task-description-area:focus {
  border: 1.5px solid rgb(106, 173, 230);
}
.border-1px-solid-grey {
  border: 1px solid grey;
}

.text-color-dark-grey {
  color: rgb(47, 47, 47);
}
.font-weight-600 {
  font-weight: 600;
  /* font-size: 40px; */
}
.font-size-30px {
  font-size: 30px;
}
.create-task-title-input {
  width: 100%;
  height: 37px;
  padding: 5px;
  color: #d4d4d4;
  margin-top: 10px;
  background-color: #22272b;
  border-radius: 3px;
  outline: none;
  border: 1.5px solid rgb(66, 71, 75);
}
.create-task-title-input:focus {
  border: 1.5px solid rgb(109, 173, 230);
}
.margin-top-10px {
  margin-top: 10px;
}
.create-task-status-dropdown-wrapper {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
}
.create-task-status-dropdown-wrapper > p {
  color: #aab8c2;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.create-task-browse-file {
  margin-left: 5px;
  color: #5393ed;
  font-size: 13px;
  font-weight: 500;
}
.margin-top-40px {
  margin-top: 40px;
}

.create-task-upload-file {
  height: 40px;
  width: 100%;
  border: 1px solid grey;
  margin-top: 10px;
}
.padding-top-20px {
  padding-top: 20px;
}
.create-button {
  background-color: #85b8ff;

  font-size: 14px;

  display: flex;
  padding: 8px;
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 3px;
  color: #000000;
}
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #d4d4d4;
  margin-left: 10px;
}
.create-button:hover {
  background-color: #2767c1;
  cursor: pointer;
}
.close-button:hover {
  cursor: pointer;
  background-color: rgb(49, 52, 57);
}
.display-flex {
  display: flex;
}

.create-task-upload-file {
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  border: 1px dotted grey;
}
.create-task-upload-file:hover {
  cursor: pointer;
}

/* ............................................ */

.create-task-title {
  color: #aab8c2;
  display: flex;
  align-items: center;
  font-size: 23.5px;
}

.create-task-task-icon {
  margin-right: 10px;
  margin-top: 8px;
}

.create-task-title-top {
  color: #aab8c2;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}
.create-task-description {
  color: #aab8c2;

  font-size: 14px;
  font-weight: 500;
}
.create-task-description-area {
  background-color: #22272b;
  margin-top: 10px;

  resize: none;
  font-size: 14px;
  padding: 5px;
  color: #d4d4d4;

  background-color: #22272b;
  border-radius: 3px;
  outline: none;
  border: 1.5px solid rgb(66, 71, 75);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.create-task-status {
  color: #d4d4d4;
}
.create-task-attach-file {
  color: #aab8c2;
  font-weight: 500;
  font-size: 14px;
}
.create-task-status {
  outline: green;
}
.create-task-add-tag-input-area {
  height: 30px;
  background-color: #22272b;
}
.margin-left-2px {
  margin-left: 2px;
}
.create-task-add-tags-wrapper {
  width: 100%;
  padding: 5px;
  border: 1.5px solid rgb(75, 77, 89);
  margin-top: 10px;
  border-radius: 3px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  background-color: #22272b;
  margin-top: 30px;
}
.create-task-loader {
  margin-right: 10px;
}
.create-task-add-tags-wrapper:focus-within {
  border: 1.5px solid rgb(109, 173, 230);
}
.create-task-add-tags-wrapper > input {
  width: fit-content;
  border: none;
  outline: none;
  color: rgb(43, 43, 43);
  padding: 5px;
  color: #d4d4d4;
}

.create-task-tag-wrapper {
  background-color: #1f2d39;
  padding: 5px;
  margin: 2px;
  display: inline-block;
  font-size: 13px;
  border-radius: 3px;
}
.red {
  color: rgb(255, 84, 84);
}
.margin-top-20px {
  margin-top: 20px;
}

.create-task-start-date-picker {
  background-color: grey;
}

.date-picker-start-date {
  width: 120px;
  height: 30px;
  background-color: #22272b;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  box-shadow: none;
  outline: none;
  border: none;
  outline: 1px solid grey;
  border-radius: 3px;
  margin-right: 5px;
  color: #d4d4d4;
  font-size: 13px;
}
.create-task-select-start-date-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.border-light-dark {
  border: 1.5px solid rgb(58, 62, 72) !important;
}
.create-task-select-start-date-wrapper > p {
  color: #aab8c2;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}
.date-picker-start-date:focus-within {
  outline: 2px solid rgb(0, 123, 255);
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.create-task-warning-message {
  color: rgb(255, 87, 87);
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
}
