.loader-screen-div-wrapper {
  position: absolute;
  background-color: #1d2125;
  z-index: 10;
  height: 100%;
  width: 100%;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.loader-screeen-top-logo {
  width: 50px;
}

.loader-screen-top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.loader-screen-name-header {
  font-size: 30px;
  margin-top: 3px;
  color: rgb(198, 198, 200);
}
.loader-screen-loader {
  margin-top: 100px;
}
