.create-project-button {
  background-color: #0051ff;
  padding: 7px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}
.create-project-button:hover {
  cursor: pointer;
  background-color: rgb(55, 55, 207);
}
.text-color-1 {
  color: #aab8c2;
  font-weight: 500;
}
.text-color-bg {
  background-color: blue;
  margin-left: 5px;
}
.project-list-home-wrapper {
  color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1d2125;
}

.project-list-container {
  color: black;
  width: 95%;
  padding: 10px;
  font-weight: 600;
  font-size: 25px;
  background-color: #1d2125;
}

.project-list-input {
  height: 30px;
}
.text-dark {
  color: rgb(0, 0, 16);
}
.search-icon {
  background-color: grey;
  font-size: 20px;
}
.project-list-search-wrapper {
  display: flex;
  align-items: center;

  border: 1px solid grey;
}

.project-list-input {
  border-top-right-radius: 0px;
  border: none;
  outline: none;
}

.project-list-table {
  border-bottom: 1px solid grey;

  color: black;
  margin-top: 20px;
  font-size: 15px;
}
.text-color-grey {
  color: rgb(57, 57, 57);
}
.project-list-content {
  color: rgb(82, 81, 81);
  display: flex;
  font-size: 14px;
  padding: 10px;

  align-items: center;
}
.project-list-content:hover {
  cursor: pointer;
  background-color: rgb(34, 44, 53);
}

.project-list-table {
  display: flex;
  padding: 10px;
}
.col1 {
  width: 30%;
  padding-left: 10px;
}
.col2 {
  width: 20%;
  color: #cbcaca;
  font-weight: 400;
}
.project-list-lead-name {
  color: #559af9;
}
.col3 {
  width: 30%;
}
.col4 {
  width: 20%;
}
.text-color-blue {
  color: #559af9;
}
.project-name-list:hover {
  cursor: poiner;
  text-decoration: underline;
}
.add-project-button {
  background-color: #64a4f7;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;

  align-items: center;
  justify-content: center;
  width: fit-content;
  display: flex;
  border-radius: 2px;
  color: #001031;
  height: 32px;

  margin-left: 10px;
}
.project-list-title {
  color: #aab8c2;
  margin-bottom: 5px;
  font-weight: 400;
}
.add-project-button:hover {
  background-color: #7bb1f8;
  cursor: pointer;
}

.flex-jus-align {
  align-items: center;

  display: flex;
}
.col3 {
  margin-left: 2px;
}

.circle {
  color: #d4d4d4;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #0052cc;
  height: 23px;
  width: 23px;
  margin-right: 5px;
  outline: 2px solid rgb(59, 84, 129);
}

.project-list-input {
  background-color: #22272b;
}

.project-list-search-wrapper {
  background-color: #22272b;
  border: 2px solid #394956;

  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
.project-list-search-wrapper:focus-within {
  border: 2px solid rgb(109, 173, 230);
}

.search-icon {
  background-color: #22272b;
}

.project-list-top-wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 400px) {
  .project-list-top-wrapper {
    display: flex;
    flex-direction: column;
  }
  .add-project-button {
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
  }
  .project-list-search-wrapper {
    width: 100%;
    margin-top: 10px;
  }
  .project-list-input {
    width: 100% !important ;
  }
  .col1 {
    width: 25% !important;
  }
  .col2 {
    width: 25% !important;
  }
  .col3 {
    width: 25% !important;
  }
  .col4 {
    width: 25% !important;
  }
}

.project-list-content {
  border-bottom: 1px solid rgb(127, 127, 127);
}
