.project-page-lower-wrapper {
  display: flex;
}

.project-page-left-panel {
  background-color: #1d2125;
  /* width: 18%; */
  /* height: 100vh; */
  height: 100vh;
  width: 250px;

  position: sticky;
  border-right: 1.5px solid rgb(50, 53, 60);
}
.project-left-panel-items-wrapper {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
  color: #d4d4d4;
}

.project-left-panel-items-wrapper > p {
  margin-left: 15px;
  color: #aab8c2;
  font-size: 15px;
}

.project-left-panel-items-wrapper:hover {
  cursor: pointer;
  background-color: #23282b;
}

.l {
  background-color: rgb(255, 183, 0);
}

@media (max-width: 1000px) {
  .project-left-panel-items-wrapper > p {
    display: none;
  }
  .project-left-panel-items-wrapper {
    width: fit-content;
  }
}

.kanban-board-overflow-wrapper {
  height: 400px;
  overflow-y: auto;
}

@media (max-width: 780px) {
  .project-page-left-panel {
    display: none;
  }
}
.projects-right-panel-header {
  color: #aab8c2;
}

.projects-right-panel-name-wrapper {
  align-items: center;

  width: fit-content;

  margin-bottom: 10px;
}
.projects-right-panel-name-wrapper > p {
  /* font-size: 25px;
  margin-left: 5px;
  color: #b6c2cf;
  font-weight: 500; */
}

.projects-right-panel-header-lower {
  font-size: 27px;

  color: #b6c2cf;
}

.projects-right-panel-header-wrapper {
  display: flex;
  align-items: center;
}

.project-page-search-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid #374048;
  width: fit-content;
  border-radius: 1px;
  background-color: #22272b;
}

.project-page-search-wrapper:focus-within {
  border: 2px solid #0052cc;
}

.project-page-input {
  height: 30px;
  background-color: #22272b;
  border: 1px solid grey;
  outline: none;
  padding: 3px;
  border: none;
  width: 100px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: rgb(211, 211, 211);
}

.project-page-right-panel-search-icon {
  margin-left: 4px;
  margin-right: 4px;
  /* background-color: rgb(71, 71, 77); */
}
.project-page-right-panel-add-members-wrapper {
  background-color: #2a3d59;
  padding: 7px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-left: 10px;
  justify-content: center;
}
.project-page-right-panel-add-members-wrapper > p {
  margin-left: 2px;
  font-size: 13px;
}
.project-page-search-and-members-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.team-members-wrapper {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: fit-content;
}

.project-page-right-panel-add-members-wrapper:hover {
  cursor: pointer;
  background-color: #344763;
}
.project-right-panel-header-top {
  padding-bottom: 20px;
  width: 100%;
}
.right-panel-wrapper {
  background-color: #1d2125;
  width: 100%;
  padding: 30px;
}

@media (max-width: 410px) {
  .projects-right-panel-header-wrapper {
    flex-direction: column;
    align-items: normal;
  }
  .project-page-search-and-members-wrapper {
    flex-direction: column;
    align-items: normal;
  }
  .team-members-wrapper {
    margin-top: 10px;
    margin-left: 5px;
  }
  .project-page-input {
    width: 90%;
  }
}

.kanban-board-title {
  color: white;
  margin: 5px;
  border-radius: 8px;
  font-weight: 500;
}

.kanban-board-wrapper {
  background-color: #161a1d;

  width: 260px;
  margin-top: 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 10px;
  height: fit-content;
  padding: 5px;
}

.task-card {
  background-color: #22272b;

  border-radius: 5px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.kanban-board-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 5px;
}
.kanban-board-title > p {
  font-size: 13px;
  padding: 5px;
}

.kanban-board-header-add-icon {
  border-radius: 50%;
}

.kanban-board-header-add-icon:hover {
  cursor: pointer;
  background-color: rgb(79, 96, 126);
}

/* @media (max-width: 915px) {
  .project-page-lower-wrapper {
    flex-direction: column;
  }
  .kanban-board-wrapper {
    margin: 5px;
    margin-top: 10px;
    width: 100%;
  }
} */

/* .kanban-title-green {
  background-color: rgb(7, 108, 0);
}
.kanban-title-yellow {
  background-color: orange;
} */

.task-card-tag-wrapper {
  padding: 2px;
  font-size: 14px;
  border-radius: 3px;

  margin: 2px;

  background-color: #1f2d39;

  color: #b6c2cf;
  width: fit-content;
}

.task-card {
  margin: 5px;
  padding: 6px;
  font-size: 15px;
}
.ncjxcnjncj {
  color: rgb(57, 57, 57);
}
.task-card:hover {
  cursor: pointer;
}

.kanban-board-wrapper {
  width: 260px;
}

@media (max-width: 1016px) {
  .right-panel-wrapper {
    padding: 10px;
  }

  .project-page-container {
    width: 100%;
  }
}

@media (max-width: 875px) {
  .project-page-lower-wrapper {
    width: 100%;
    overflow-x: auto;
  }
  .project-page-container {
    overflow: auto;
  }

  .kanban-board-wrapper {
    width: 280px !important;
    margin-bottom: 20px;
  }
  .kanban-board-overflow-wrapper {
    height: 100%;
    width: 260px;
  }
  .project-page-search-and-members-wrapper {
    margin-top: 0px;
  }
  .team-members-wrapper {
    margin-left: 12px;
  }
}

/* ----------------------------- ui2 ------------------------- */

.project-board-page {
  height: 100vh;
  background-color: #1d2125;
  overflow: hidden !important;
  box-sizing: border-box;
}

.project-board-lower-wrapper {
  width: 100%;
  margin: auto;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.project-board-right-panel {
  margin-left: 20px;
  margin-top: 10px;
  overflow-y: auto;
}

/* body {
  overflow: hidden;
} */

.left-panel-bg-highlight {
  background-color: #212526;
}

.left-panel-bg-highlight > p {
  color: #548dca;
}
.left-panel-icon-hightlight {
  color: #548dca;
}

.project-left-panel-project-image {
  width: 40px;
  height: 40px;
  border-radius: 0px;

  margin-left: 10px;
}

.project-left-panel-project-info-wrapper {
  display: flex;
  flex-direction: column;
}

.project-left-panel-project-info-top-wrapper {
  padding-top: 20px;
  margin-bottom: 20px;
}
.project-left-panel-project-title {
  color: #c2d4e3;

  font-weight: 600;
}
.project-left-panel-project-info-wrapper {
  margin-left: 10px;
}
.project-left-panel-project-type {
  color: #bcaa9b;
  font-size: 14px;
}

.projects-right-panel-header-top {
  color: #bcaa9b;
}

.task-card-top-text-color {
  color: #8c9bab;
}

.task-card-title-text {
  color: #adb8c5;
}

body {
  overflow: hidden;
}
