/* YourComponent.css */

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-color: #1d2125;
}
.task-page-title {
  color: #bcaa9b;
  font-size: 15px;
}
/* Navbar */
.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100; /* Ensures it stays on top of other content */
}

/* Content container */
/* .content-container {
  display: flex;
  flex: 1;
  overflow-y: hidden;
} */
.content-container {
  display: flex;
  width: 100%;

  overflow-y: hidden;
}

/* Left Column */
.left-col {
  /* width: 20%; */
  position: sticky;
  top: 0;
  height: 100vh;
}

/* Middle Column */
.middle-col {
  flex: 1; /* Takes remaining horizontal space */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  background-color: #1d2125;
  padding: 10px;
  width: 100%;

  /* padding: 13px; */
}

/* .scrollable-content {
   Add styling for the scrollable content here 
} */

/* Right Column */
.right-col {
  width: 25%;
  position: sticky;
  top: 0;
  height: 100vh; /* Adjust as needed */
  background-color: #1d2125; /* Optional styling */
  padding: 10px; /* Optional styling */
}

/* ////////////////////////main/////////////////////////////////// */

.task-page-right-wrapper {
  height: 100%;
  background-color: #1d2125;
}

.task-page-summary-title:focus {
  background-color: #282d33;
}
.task-page-summary-title:hover {
  background-color: #282d33;
  cursor: pointer;
}

.task-page-text-area {
  border: none;
  outline: none;
  width: auto;
  resize: none;
  background-color: #1d2125;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  padding: 15px;
  border: 1px solid rgb(52, 54, 72);
  border-radius: 2px;
  width: 99%;
  height: 300px;
}

.task-page-text-area:hover {
  cursor: pointer;
  background-color: #282d33;
}

.task-page-text-area:focus {
  background-color: #282d33;
  border: 1px solid #85b8ff;
}

.task-page-text-area-line {
  height: 2px;
  color: black;
  background-color: rgb(197, 197, 197);

  margin-top: 10px;
}
.task-page-save-changes-wrapper {
  display: flex;
  margin-top: 5px;
}

.task-page-text-area-save-button {
  background-color: #579dff;
  width: fit-content;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  border-radius: 3px;
  color: #000c18;
  font-weight: 500;
}
.task-page-text-area-cancel-button {
  color: rgb(41, 41, 41);
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-left: 10px;
  color: #b2becb;
  background-color: #282d33;
}
.task-page-text-area-save-button:hover {
  background-color: #a5c5f3;
  cursor: pointer;
}
.task-page-text-area-cancel-button:hover {
  cursor: pointer;
  background-color: rgb(54, 63, 71);
}
.task-page-add-issue-wrapper {
  display: flex;
  margin-right: 10px;
}
.task-page-add-issue-name-icon {
  height: 35px;
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0052cc;
  border-radius: 50%;
  border: 1.5px solid #282e33;
  margin-right: 10px;
}
.task-page-summary-title {
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  color: #b6c2cf;
  border: none;
  height: 40px;
  width: 99%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  resize: none;
  margin-left: 2px;
  overflow-x: hidden;
  padding: 3px;
}
.task-page-summary-title:focus {
  outline: 2px solid #85b8ff;
}
.task-page-add-issue-text-area {
  resize: none;
  width: 100%;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #dbdbdb;
  font-size: 14px;
  outline: none;
  border: 1px solid rgb(50, 55, 71);
  border-radius: 3px;
  background-color: #22272b;
}
.task-page-add-issue-text-area:focus {
  outline: 1px solid rgb(127, 197, 255);
  background-color: #282d33;
}

.task-page-issue-report-button {
  width: fit-content;

  font-weight: 500;
  border-radius: 3px;
  margin-top: 10px;
  background-color: #579dff;

  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  border-radius: 3px;
  color: #000c18;
  font-weight: 500;
}
.task-page-issue-cancel-button {
  margin-top: 10px;
  color: rgb(41, 41, 41);
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-left: 10px;
  color: #b2becb;
  background-color: #282d33;
}
.task-page-create-issue-wrapper {
  display: flex;
  margin-left: 45px;
  margin-bottom: 40px;
}
.task-page-issue-createdBy {
  color: #a2b3c5;
  font-weight: 500;
  font-size: 17px;
}
.task-page-issues-header {
  color: #b6c2cf;
  font-size: 15px;
  font-weight: 500;
  margin-top: 1px;
  margin-bottom: 5px;
}
.task-page-issue-cancel-button:hover {
  cursor: pointer;
  background-color: rgb(54, 63, 71);
}
.task-page-issue-report-button:hover {
  background-color: #a5c5f3;
  cursor: pointer;
}

.task-page-issues-title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.issue-wrapper {
  /* background-color: grey; */
  width: 100%;

  margin-top: 10px;
}
.issue-wrapper {
  display: flex;
}

.issue-parent-wrapper {
  margin-top: 30px;
  margin-bottom: 50px;
}

.task-page-reported-by {
  color: rgb(40, 40, 40);
  font-size: 12px;
}
.task-page-reported-by-icon {
  width: 35px;
  height: 35px;
  background-color: #0052cc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
/* .issue-wrapper-icon {
  margin-right: 5px;
} */
.task-page-reported-by-name {
  background-color: #000000;
  width: fit-content;
  padding: 5px;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 3px;
  visibility: hidden;
  position: absolute;
  margin-top: 50px;
}
.task-page-reported-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.task-page-issue-summary {
  color: #1c1b1b;
  margin-left: 10px;

  padding: 5px;
}
.task-page-issue-summary {
  font-size: 14px;

  padding: 0px;
}
/* .task-page-reported-wrapper {
 
} */
.margin-top-15px {
  margin-top: 15px;
}
.task-issue-delete-wrapper {
  font-size: 15px;

  color: #9fadbc;

  font-weight: 500;
}
.task-issue-delete-wrapper:hover {
  cursor: pointer;
  font-weight: black;
  text-decoration: underline;
}
.margin-left-10px {
  margin-left: 10px;
}
.task-page-description {
  font-size: 13px;
  font-weight: 500;
  color: #a4b3be;
}

.task-page-reported-by-icon:hover + .task-page-reported-by-name {
  visibility: visible;
}

.color-off-white {
  color: #d4d4d4;
}

.task-page-issue-comment {
  color: #b2becb;
  margin-top: 10px;
}
.background-color-dark-theme {
  background-color: #1d2125;
}
.margin-bottom-5px {
  margin-bottom: 5px;
}
.task-issue-delete-wrapper {
  color: #9fadbc;
}

@media (min-width: 750px) {
  .main-col-description {
    display: none;
  }
}

@media (max-width: 750px) {
  .right-col {
    display: none;
  }
  .middle-col {
    padding: 10px;
  }
}

.task-page-summary-title {
  outline: none;
  font-size: 22px;
  height: 45px;
}

@media (max-width: 950px) {
  .content-container {
    width: 100%;
  }
}

.desc-title-tic-box {
  display: flex;
  position: absolute;
}

.desc-title-tic-box-item {
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1.5px solid rgb(57, 57, 57);
  border-radius: 2px;
  margin-left: 5px;
  background-color: #282d33;
}
.desc-title-tic-box-item:hover {
  cursor: pointer;
  background-color: #3d444d;
}
