.notifications-wrapper {
  width: 400px;
  margin: auto;
  height: fit-content;
  background-color: #2a3034;
}

.notifications-title {
  font-size: 26px;
  font-weight: 500;
}
.notifications-item-wrapper {
  width: 100%;
  border-bottom: 1px solid rgb(65, 65, 75);
  background-color: #22272b;
}
.notifications-title {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.notifications-sender-details-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
}
.notifications-top-content {
  display: inline-block;
}
.notifications-item-wrapper:hover {
  background-color: rgb(43, 51, 59);
}
.notifications-email-span {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
}
.notifications-email-icon {
  color: rgb(0, 162, 255);
  padding-top: 5px;
}

.notifications-top-content {
  display: flex;
  flex-wrap: wrap;
  color: #d4d4d4;
  font-weight: 500;
  align-items: center;
  font-size: 14px;
  margin-left: 10px;
}
.notifications-invited {
  color: #d4d4d4;
  margin-left: 35px;
  font-size: 14px;
}
.notifications-item-wrapper {
  padding: 10px;
}
.notifications-email-span {
  color: rgb(0, 162, 255);
  margin-left: 2px;
  margin-right: 2px;
}
.notification-project-name {
  color: #d4d4d4;
  font-weight: 600;
  font-size: 14px;
}
.notification-proect-join {
  color: #d4d4d4;
  margin-left: 35px;
  font-size: 14px;
}
.notifications-accept-button {
  background-color: rgb(45, 116, 223);
  width: fit-content;
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notifications-accept-button:hover {
  cursor: pointer;
  background-color: rgb(48, 85, 145);
}
.notifications-lower-wrapper {
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  margin-left: 35px;
}
.notifications-cancel-button {
  color: #b3b2b2;
  width: fit-content;
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  margin-left: 5px;
}
.notifications-cancel-button:hover {
  cursor: pointer;
  background-color: rgb(56, 59, 62);
}
.notifications-sender-icon {
  background-color: #0052cc;
  width: 25px;
  height: 25px;
  border: 2px solid #2b3b52;
  border-radius: 50%;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notifications-wrapper {
  max-height: 500px;
  overflow-y: auto;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Handle or thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: #aaa; /* Color of the scrollbar track on hover */
}

.notifications-box-image {
  width: 200px;
}

.notifications-lower-message-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* .notifications-top-content{} */
