.time-line-component-child-wrapper {
  width: 200px;
  min-height: 25px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  background-color: rgb(81, 117, 174);
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* .time-line-component-parent-wrapper {
  width: 2000px;
  height: 100%;
  background-color: bisque;
} */

.calender-timeline-main-wrapper {
  background-color: #1d2125;
}
